/* 
webtemplate 090413
http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	/*list-style: none;*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

/*clearfix  */

.clearfix { 
	zoom: 1; 
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


body {
	font-family: "minion-pro", serif;
	text-align: center;	
	line-height: 1;
	/* -webkit-font-smoothing: antialiased !important; */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-color: white;
   font-weight: 400;
   font-style: normal;
   position:relative;
   overflow:hidden;
   overflow-y:scroll;
}

body.glownaNiebieska {
	background-color: #04b3fc;
}

p {
	color: black;
	line-height: 21px;;
	font-size: 15px;
	/* font-weight: 400; */
}

.enter {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.enterdol {
	margin-bottom: 0.7em;
}

.akapit { 
	text-indent:40px;
}

.lead {
	font-size: 17px;
	line-height: 1.4em;
}


p a, a p {
	text-decoration: none;
	color: #04b3fc;
}


p a:hover {
	text-decoration: none;
	color: #818181;
}

.minion {
	font-family: "minion-pro", serif;
}

.futura {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.bold {
	font-weight: 600;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, .aller, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.2em;
	margin-bottom: 4px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {

}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 14px;
}

.black, .black a {
 	color: black;
}

.white, .white a {
	color: white;
}

.blue, .blue a {
 	color: #04b3fc;
}

.blueBg {
 	background-color: #04b3fc;
}

.yellow, .yellow a {
	color: yellow;
}

.yellowGb {
	background-color: yellow;
}

.page {
   width:100%;
   height:100%;
   position:absolute;
   text-align:left;
}

.page .content {
   position:relative;
}

.page .staticRamka {
   position: absolute;
   top: 0;
   left: 0;
   right:0;
   bottom:0;
   width:100%;
   height:100%;
   background:url(../images/ramkaBg.png) repeat-y right top;
   z-index:3;
}

.page .ramka1 {
   width:100%;
   height:100%;
   border-top:20px solid #04b3fc;
   border-left:20px solid #04b3fc;
   position:fixed;
   background:url(../images/ramkaBg.png) repeat-x left bottom;
   z-index:3;
}

.page .ramka2 {
   width:100%;
   height:100%;
   border-left:20px solid #04b3fc;
   border-bottom:20px solid #04b3fc;
   border-right:20px solid #04b3fc;
   position:fixed;
   margin-top:-20px;
   margin-left:-20px;
   z-index:3;
}

.ramkaTop {
   width:100%;
   height:20px;
   position:fixed;
   background:#04b3fc;
   top:0px;
   left:0px;
   z-index:100;
   display:none;
}

.ramkaBottom {
   width:100%;
   height:20px;
   position:fixed;
   background:#04b3fc;
   bottom:0px;
   left:0px;
   z-index:100;
   display:none;
}


#glowna.page .ramka1 {
	border-top:20px solid white;
	border-left:20px solid white;
}

#glowna.page .ramka2 {
	border-left:20px solid white;
	border-bottom:20px solid white;
	border-right:20px solid white;
}

body.glownaNiebieska .ramkaTop, body.glownaNiebieska .ramkaBottom {
   background:white;
}



#north, #east, #south, #west {
  background: #04b3fc;
  position: fixed;
  z-index: 9990; 
  }

#east, #west {
  top: 0;
  bottom: 0;
  width: 20px; 
  }

#east {
  right: 0; 
  }

#west {
  left: 0;
  }

#north, #south {
  left: 0;
  right: 0;
  height: 20px; 
  }

#north {
  top: 0; 
  }

#south {
  bottom: 0; 
  }

#wrapper {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 40px;
}

.wideText {
   margin-left: auto;
	margin-right: auto;
   max-width: 920px;
   min-width:360px;
   width: 80%;
}

.text {
	width:66%;
	margin-left: auto;
	margin-right: auto;
   min-width:300px;
	max-width: 600px;
	padding-top: 120px;
	padding-bottom: 40px;
}

#header {
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	display: block;
	z-index: 8990; 
	width: 100%;
	height: 100px;
	left: 20px;
	right: 0px;
   top:20px;
   z-index:4;
   /* border-bottom: solid 1px black; */
}

body.glownaNiebieska #header {
	background-color: rgba(2,179,252,0.9);
}

.tlo {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 100%;
	margin-left: -3%;
}

.tloZab {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 100%;
	margin-left: -3%;
	margin-bottom: 15px;
	background-image: url(../images/pBg.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}

#logo {
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}

.navi {
	float: right;
	margin-right: 30px;
	margin-top: 32px;
	background-color: #04b3fc;
	width: 30px;
	height: 30px;
}

.navi .plus {
   position:relative;
   z-index:5;
   display:block;
   width:30px;
   height:30px;
}

.navi a > img {
	opacity: 0.5;
}

.navi a:hover > img {
	opacity: 1;
}

.linia {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin-bottom: 13px;
	padding-bottom: 6px;
}

.sekcja {
	margin-top: 100px;
}

a.st {
	position: fixed;
	top: 45%;
	background-color: #04b3fc;
	width: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	text-align: center;
}

body.glownaNiebieska a.st {
	background-color: white;
}

a.st > img {
	opacity: 0.5;
}

a.st:hover > img {
	opacity: 1;
}

#prev {
   z-index:6;
	left: 20px;
}

#next {
   z-index:6;
	right: 20px;
}

a.st2 {
	position: fixed;
	top: 20px;
	right: 14%;
	background-color: #04b3fc;
	height: 25px;
	padding-left: 25px;
	padding-right: 25px;
	display: block;
	text-align: center;
	line-height: 28px;
   z-index:6;
}

body.glownaNiebieska a.st2 {
	background-color: white;
}

a.bottom {
	position: fixed;
	bottom: 20px;
	right: 14%;
	background-color: #04b3fc;
	height: 25px;
	padding-left: 25px;
	padding-right: 25px;
	display: block;
	text-align: center;
	line-height: 28px;
   z-index:4;
}

body.glownaNiebieska a.bottom {
	background-color: white;
}

a.st2 > img, a.bottom img {
	opacity: 0.5;
}

a.st2:hover > img, a.bottom:hover img {
	opacity: 1;
}

ul#spistresci {
	width: 410px;
	float: right;
	background-color: white;
   position:relative;
   margin-top:-30px;
   z-index:4;
   overflow:hidden;
}

body.glownaNiebieska ul#spistresci  {
	background-color: #04b3fc;
}

ul#spistresci.zwiniety1 {
   height:0px;
}

ul#spistresci.zwiniety1 {
   height:30px;
}

ul#spistresci li {
	display: block;
	list-style-type: none;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: white;
	background-color: #04b3fc;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;
	font-size: 15px;
	margin-bottom: 1px;
}

body.glownaNiebieska ul#spistresci li {
	background-color: white;
	color: #04b3fc;
}

ul#spistresci li a {
	opacity: 1;
	color: white;
	text-decoration: none;
	display: block;
}

ul#spistresci li a:hover {
	opacity: 0.5;
	color: white;
	text-decoration: none;
	display: block;
}

body.glownaNiebieska ul#spistresci li a, body.glownaNiebieska ul#spistresci li a:hover {
	color: #04b3fc;
}

.tytulPrzewodnika {
}

.tytulPrzewodnika h2 {
	
	border: black 4px solid;
	padding: 5px;
	text-transform: uppercase;
}

.niebieski {
	display: inline;
	background-color: #04b3fc;
	padding-right: 20px;
	padding-bottom: 12px;
}

.cytat {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	line-height: 1.2em;
}

.przypis {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	line-height: 1.2em;
}

.podpis {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2em;
	margin-top: 15px;
}

.calaCol {
	width: 100%;
}

.polCol {
	width: 48%;
}

.borderright {
	border-right: solid 1px black;
	padding-right: 2%;
}

.borderleft{
	border-left: solid 1px black;
	padding-left: 2%;
}

.invisible {
	visibility: hidden;
}

.prawniczy {
	font-size: 14px;
	line-height: 1.2em;
}

img.travaillefoto {
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	float: left;
}


ol.niebieskakropka {
	margin-left: 10%;
	color: #04b3fc;
}

ol.niebieskakropka li {
	color: #04b3fc;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 1.4em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}


.tytulRozdzial {
	font-size: 30px;
	text-decoration: underline;
}

.ulwciety {
	margin-left: 10%;
}

.strPrawnicza {
	/*
background-image: url(images/strPrawnicza.png);
	background-repeat: no-repeat;
	background-position: right top;
*/
	float: left;
	width: 4%;
	padding-left: 43%;
	padding-right: 1%;
	padding-top: 10px;
}


#strzalka {
   display:block;
   margin:auto auto;
   width:80px;
   height:70px;
}

.strzalkaRozwijania {
   width:16px;
   height:30px;
   display:block;
}

.blueContainer {
   position:relative;
}

.blueContainer .blueBg {
   position:relative;
   display:none;
}

.popupBlue {
	display: block;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #04b3fc;
	border: solid 4px black;
	margin-left: -3%;
	margin-top: -12px;
	
}

.popupBlueBg {
	background-color: black;
	width: 100%;
	padding-bottom: 12px;
	display:block;
	padding-top:0px;
}

#off {
	position: relative;
	top: 5px;
	right: 5px;
}

.col50 {
	width: 45%;
	margin-right: 5%;
	float: left;
}

.przypisBoczny {
   float:right;
   width:30%;
   margin-right:-32%;
   border-top: solid 4px #04b3fc;
   padding-top: 4px;
   margin-bottom: 20px;
}

a#pdfDownload {
	bottom: 35px;
	left: 40px;
	position: fixed;
}

a#epubDownload {
	bottom: 35px;
	left: 103px;
	position: fixed;
}

a#zycie_mini {
	bottom: 35px;
	right: 61px;
	position: fixed;
}

a#informacja_mini {
	bottom: 95px;
	right: 40px;
	position: fixed;
}

#oko {
	position: absolute;
	top: 30px;
	right: 460px;
	
}

.fullName {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	display: block;
}

.magnPopup {
	width: 100%;
	float: left;
}

.ludzikOpis {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
	height: 120px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 120px;
	color: #04b3fc;
	text-decoration: none;
	float: left;
}


/*
================================================================================
mobile css - nic poniżej
================================================================================
*/


@media all and (max-width: 800px) {

  .text {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
	padding-bottom: 40px;
}

.col50 {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 20px;
}

.przypisBoczny {
   float:none;
   width:98%;
   border-top: none;
   padding-top: 0px;
   border-left: solid 4px #04b3fc;
   padding-left: 2%;
}

}

/*
================================================================================
animacja - perypetie - rozdzial 1
================================================================================
*/
#animRozdzial1 #list.wDol {
   animation-name: rozdzial1samolotdown;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-play-state: running;
   -moz-transform:rotate(60deg);
}

#animRozdzial1 #list.wGore {
   animation-name: rozdzial1samolotup;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-play-state: running;
   -moz-transform:rotate(0deg);
}

@keyframes rozdzial1samolotdown {
   0%   {-moz-transform:rotate(0deg)}
   100% {-moz-transform:rotate(60deg)}
}

@keyframes rozdzial1samolotup {
   0%   {-moz-transform:rotate(60deg)}
   100% {-moz-transform:rotate(0deg)}
}

/*
================================================================================
koniec - animacja - perypetie - rozdzial 1
================================================================================
*/


/* 

====== zoom in effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*
.przypisBoczny.static {
   float:none;
   margin-right:0px;
   width:auto;
   min-width:none;
   max-width:none;
}
*/
